{% extends 'base.html' %}
{% load static %}

{% block title %}Contact Me{% endblock %}

{% block content %}
<div class="contact-page glass-card">
    <img class="profile-pic" src="{% static 'new-profile-pic.jpg' %}" alt="Profile Picture">
    
    <h2>Get In Touch</h2>
    <p>You can contact me anytime through the links below. I'm always open to connecting with new people.</p>

    <div class="social-links">
        <a href="https://www.instagram.com/jeel_sakhareliya?igsh=bmkwbDA4ZG4zeTRm" target="_blank" class="social-icon">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/share/17QwgdY1vS/" target="_blank" class="social-icon">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="https://www.linkedin.com/in/jeel-sakhareliya-b50022327?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" class="social-icon">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
</div>
{% endblock %}