{% load static%}
{% include 'header.html' %}
{% include 'menu.html' %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{%static 'style.css'%}"
    </head>
    <body>
        <h1>
            <img width="300" src="{% static 'D:\Django\mydjproject\static\Picsart_24-12-11_11-45-25-987.png'%}" align="right"/>
            <p>INSTAGRAM - @jeel_sakhareliya</p>
            <p>WHATSAPP - 884940*5**</p>
            <p>FACEBOOK - JEEL SAKHARELIYA </p>
           <p>YOUTUBE - SJALOFI</p> 
        </h1> 
       
        </body>
       
       

</html>
