{% load static %}
<div class="header-container">
    <div class="header-left">
        <img src="{% static 'jil.jpeg' %}" alt="Profile Picture" class="header-profile-pic">
        <div class="typing-text-container">
            <p>I'm a <span id="typing-text"></span></p>
        </div>
    </div>
    <div class="header-right">
        <a href="https://www.instagram.com/jeel_sakhareliya?igsh=bmkwbDA4ZG4zeTRm" target="_blank">
            <i class="fab fa-instagram social-icon"></i>
        </a>
        <a href="https://www.facebook.com/share/17QwgdY1vS/" target="_blank">
            <i class="fab fa-facebook social-icon"></i>
        </a>
        {% if not user.is_authenticated %}
        <div class="header-mobile-auth">
            <a href="{% url 'login' %}" class="btn btn-small">Login</a>
            <a href="{% url 'signup' %}" class="btn btn-small btn-secondary">Sign Up</a>
        </div>
        {% endif %}
    </div>
</div>