<!DOCTYPE html>
<html>
<head>
    {% include "header.html" %}
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> 
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% include "menu.html" %}

    <div class="main-content">
        <h1>HELLO THERE! Happy To See You HERE!! </h1>
    </div>
</body>
</html>