{% extends 'base.html' %}
{% load static %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="form-wrapper glass-card interactive-form-wrapper">
    <h2>Reset Your Password</h2>
    <p style="text-align: center; color: var(--text-color-dark); margin-bottom: 2rem;">Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field }}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% for error in field.errors %}<p class="message error" style="text-align: left; padding: 0.5rem; margin-top: 0.5rem;">{{ error }}</p>{% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn" style="width: 100%; margin-top: 1rem;">Send Email</button>
        </form>
</div>
{% endblock %}