{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Sent</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% include 'header.html' %}
    {% include 'menu.html' %}
    <div class="auth-container">
      <div class="auth-form-wrapper">
        <h2 class="form-title">Check Your Inbox</h2>
        <p style="text-align: center; color: #555;">We've emailed you instructions for setting your password. You should receive the email shortly!</p>
      </div>
    </div>
</body>
</html>