{% extends 'base.html' %}
{% load static %}

{% block title %}Enter New Password{% endblock %}

{% block content %}
<div class="form-wrapper glass-card interactive-form-wrapper">
        <h2>Enter New Password</h2>
        {% if validlink %}
            <p style="text-align: center; color: var(--text-color-dark); margin-bottom: 2rem;">Please enter your new password twice.</p>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field }}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% if field.help_text %}<small class="helptext">{{ field.help_text|safe }}</small>{% endif %}
                        {% for error in field.errors %}<p class="message error" style="text-align: left; padding: 0.5rem; margin-top: 0.5rem;">{{ error }}</p>{% endfor %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn" style="width: 100%; margin-top: 1rem;">Change my password</button>
            </form>
        {% else %}
            <p style="text-align: center; color: var(--error-color);">This password reset link is no longer valid.</p>
        {% endif %}
</div>
{% endblock %}